:root {
    --primary-color-purple50: hsl(260, 100%, 95%);
    --primary-color-purple300: hsl(264, 82%, 80%);
    --primary-color-purple500: hsl(263, 55%, 52%);
    --neutral-color-white: hsl(0, 0%, 100%);
    --neutral-color-grey100: hsl(214, 17%, 92%);
    --neutral-color-grey200: hsl(0, 0%, 81%);
    --neutral-color-grey400: hsl(224, 10%, 45%);
    --neutral-color-grey500: hsl(217, 19%, 35%);
    --neutral-color-darkblue: hsl(219, 29%, 14%);
    --neutral-color-black: hsl(0, 0, 7%);
}

*,
*::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Barlow Semi Condensed";
    src: url("./fonts/BarlowSemiCondensed-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Barlow Semi Condensed";
    src: url("./fonts/BarlowSemiCondensed-SemiBold.ttf") format("truetype");
    font-weight: 600;
}

body {
    font-family: "Barlow Semi Condensed";
    font-size: 13px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--neutral-color-grey200);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 6em 3em;
}

.container__card {
    padding: 3em 2.25em;
    border-radius: 8px;
}

.card__author {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.8rem;
}

.author__icon {
    border-radius: 100%;
    width: 30px;
    height: auto;
}

.author__verification {
    font-size: 0.69rem;
}

.card__para {
    margin-top: 1rem;
}

.para__main {
    font-weight: 600;
    font-size: 1.25rem;
    display: block;
    margin-bottom: 1rem;
}

.card--purple {
    background-color: var(--primary-color-purple500);
    color: var(--neutral-color-white);

    .author__icon {
        border: 1px solid var(--primary-color-purple300);
    }
}

.card--grey {
    background-color: var(--neutral-color-grey500);
    color: var(--neutral-color-white);
}

.card--white {
    background-color: var(--neutral-color-white);
    color: var(--neutral-color-grey500);
}

.card--darkblue {
    background-color: var(--neutral-color-darkblue);
    color: var(--neutral-color-white);

    .author__icon {
        border: 1px solid var(--primary-color-purple500);
    }
}

.attribution { font-size: 0.6875rem; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }

@media (min-width: 375px) {

}

@media (min-width: 1440px) {

}